:root {
  --bgcolor: #4F6F52;
  --text: #D2E3C8;
  --valText: #C68484;
  --buttonBg: #86A789;
}

.App {
  /* text-align: center; */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--text);
  /* height: 100vh; */
  margin: 0;
  position: relative;
  
}

.App-header {
  /* color: var(--text); */
  padding: 5px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  column-gap: 5px;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  padding-bottom: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.valText {
  color: var(--valText);
}

h4 {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

footer {
  font-weight: bold;
  color: var(--text);
  text-align: center;
  padding-bottom: 5px;
  font-size: small;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
}

button {
  background-color: var(--buttonBg);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

button:disabled {
  opacity: 0;
}

.buttonCtn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.valentineDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.andresPic {
  opacity: 0;
  border-radius: 50%;
  animation: slideAndSpin 3s linear forwards;
  animation-delay: 1s;
}

.textWrapper, .imageWrapper {
  text-align: center;
}

@keyframes slideAndSpin {
  0% {
    transform: translateX(100vw) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}